<link rel="stylesheet" href="/css/home.css">

<div id="home_layout">
    <div class="createProject">
        <a href="/users/create" id="creatingLink">
            <span class="creating">
                Create New Project
            </span>
        </a>
    </div>
    <% if(all_projects.length != 0){ %>

        <div id="filt">
            <h2>Filter On Author</h2>
            <div class="filter">
                
                      
                
                       <% for(let project of all_projects){%>
                      
                        <form action="/users/filter/<%= project.Author %>">
                    
                            <select name="filter" class="select" >
                        
                            <option name="author">
                                <%= project.Author %>
        
                            </option>
                        
                        </select>
                        
                        <input type="submit" class="btn" value="filter">
                    </form>
                       <%}%>
                    
                    
                    
            </div>
        </div>
        <%}%>


    <div id="projects">
        <ul>
            <% for(let project of all_projects ){ %>
                <li>

                    <a href="/users/destroy/<%= project.id %>">X</a>

                    <div class="ProNamecss">
                       Project Name - <%= project.ProjectName %>
                    </div>

                    <div class="Desccss">
                       Description - <%= project.Description %>
                    </div>

                    <div class="AuthorNamecss">
                       Author - <%= project.Author %>
                    </div>
                   

                </li>
            <% } %>
        </ul>
      
    </div>


    
   
</div>

